@font-face{
    font-family: "Raleway";
    src: url("/fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: auto;
    height: 40px;
    padding-left: 25px;
}

nav{
    display: flex;
}

nav a{
    padding: 15px 40px 0 40px;
    color: #0065FC;
    font-weight: 600;
    opacity: 80%;
    text-decoration: overline;
}

.search{
    display: flex;
}

.search input{ 
    width: 180px;
    height: 33px;
}

input{
    border: solid 2px #F2F2F2 ;
}

.search button{
    opacity: 85%;
    border: none;
    background: #0065FC;
    color: white;
    width: 100px;
    height: 33px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

.search .fa-map-marker-alt{
    padding-left: 10px;
    padding-top: 7px;
    background-color: #F2F2F2;
    width: 33px;
    height: 33px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.searchfilters{
    padding-left: 1.5%;
}

.searchfilters h1{
    font-size: 20px; 
    font-weight: bold;
}

.searchfilters h2{
    font-size: 14px;
    font-weight: 550;
}

.filters{
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

.bluefil1{
    color: #0065FC;
    background: #d3e5fd;
    width: 35px;
    height: 35px;
    padding-top: 10px;
    padding-left: 8px;
    border-radius: 50%;
    margin-left: 20px;

}

.bluefil2{
    color: #0065FC;
    background: #d3e5fd;
    width: 35px;
    height: 35px;
    padding-top: 10px;
    padding-left: 11px;
    border-radius: 50%;
    margin-left: 20px;
}

.bluefil3{
    color: #0065FC;
    background: #d3e5fd;
    width: 35px;
    height: 35px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 50%;
    margin-left: 20px;
}

.bluefil4{
    color: #0065FC;
    background: #d3e5fd;
    width: 35px;
    height: 35px;
    padding-top: 9px;
    padding-left: 9px;
    border-radius: 50%;
    margin-left: 20px;
}

.eco{
    font-size: 14px;
    border: solid;
    border-left-style: initial;
    border-width: 1px;
    width: 120px;
    height: 32px;
    padding-top: 6px;
    padding-left: 15px;
}

.fam{
    border: solid;
    border-left: none;
    border-width: 1px;
    width: 85px;
    height: 32px;
    padding-top: 6px;
    padding-left: 15px;
}

.rom{
    border: solid;
    border-left: none;
    border-width: 1px;
    width: 115px;
    height: 32px;
    padding-top: 6px;
    padding-left: 15px;
}

.ani{
    border: solid;
    border-left: none;
    border-width: 1px;
    width: 160px;
    height: 32px;
    padding-top: 6px;
    padding-left: 15px;
}

.informations{
    display: flex;
    align-items: baseline;
    font-size: 14px;
    font-weight: 550;
    width: 25%;
}

.fa-info{
    color: #0065FC;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 50% 50% 50% 50%;
    width: 22px;
    height: 22px;
    padding-left: 7px;
    padding-top: 3px;
    margin-right: 12px;
}

.hebergements1{
    display: flex;  
}

.section1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #F2F2F2;
    padding-top:5%;
    margin-right: 2%;
    width: 70%;
    height: 50%;
    border-radius: 2%;
}

.section1 h2{
    position: absolute;
    top: 32%;
    left: 3%;
}

.populaires{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F2F2F2;
    padding-top: 5%;
    width: 30%;
    border-radius: 3.5%
}

.populaires figure{
    display: flex;
}

.populaires h2{
    position: absolute;
    top: 32%;
    right: 14.8%;
}

.fa-chart-line{
    position: absolute;
    top: 35%;
    right: 4%;
}

.fa-star{
    color: #0065FC;
}

.activites{
    background: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    margin-top: 5%;
}

.activites h2{
    position: absolute;
    left: 2.5%;
}

footer{
    display: flex;
    justify-content: space-around;
    background: #F2F2F2;
    background-position: center;
    width: 100%;
}

.section1 figure {
    border: 1px solid white;
    border-radius: 9%;
    padding: 6px;
    background: white;
    height: 45%;
}

.section1 img{
    width: 330px;
    height: 200px;
    border-top-left-radius: 9%;
    border-top-right-radius: 9%;
}

.populaires figure{
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid white;
    border-radius: 9%;
    padding: 6px;
    background: white;
    height: 27%;
    width: 80%;
}

.populaires img{
    width: 170px;
    height: 200px;
    border-top-left-radius: 9%;
    border-bottom-left-radius:  9%;
}

.populaires figcaption{
    width: 43%;
    padding-top: 35px;
    padding-left: 30px;
}

figcaption h3{
    font-size: 15px;
    font-weight: 700;
}

.apropos{
    font-weight: 700;
}

.hebergements{
    font-weight: 700;
}

.assitance{
    font-weight: 700;
}

